fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
psycopg[binary]==3.2.9
pydantic==2.11.7
pydantic-settings==2.10.1
PyJWT[crypto]==2.10.1
email-validator==2.2.0
python-multipart==0.0.20
eth-account==0.13.7
httpx==0.28.1
alembic==1.16.5
